<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}

    {% endblock %}


    <title>{{Title}}</title>
</head>
<body onload="btn()">

                            <!-- vertical navication bar -->

    <nav class = "nav_">  
        <h1 class = "head">classRoom Tool</h1>
        <ul class="items">

            <hr class="hr">
                        <!-- iteams -->
            <li>
                <a href="home.html"><i class="fas fa-home">Home</i></a>
            </li>
            <li>
                <i class="fas fa-users-class"><a href="#">Class room</a></i>
            </li>
            <li>
                <i class="far fa-video"><a href="#">meet</a></i>
            </li>
            
            <li><a href="#">test</a></li>
            <li>
                <i class="fas fa-book"><a href="v_nav_website.html">notes</a></i>
            </li>
            <li>
                <i class="fas fa-wrench"><a href="#">tools</a></i>
            </li>
            <li>
                <i class="fas fa-info"><a href="#">Help</a></i>
            </li>
            <div class="end">
                <li>
                <i class="fas fa-robot"><a href="">Chatbot</a></i>
                </li>
                
                <li>
                    <i class="fas fa-sign-out-alt"><a href="#">LogOut</a></i>
                </li>
            </div>
        </ul>
                        <!-- Animated Button  -->
    </nav>
    <div class="p_nav_btn">
        <i class = "fas fa-bars nav-btn" onclick="btn()" style = "display : flex" ></i>
    </div>


    {% block Upload %}
    {% endblock %}

    {% block UploadMenu %}
    {% endblock %}

    {% block CirclerMenu %}
    {% endblock %}

    
</body>


{% block JS %}
{% endblock %}

<script src="{{url_for('static', filename='js/MenuBarController.js')}}"></script>

</html>